section {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    background-color: var(--back-color);
}

.main_show {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .big_show {
        width: 100%;
        height: 455px;
        iframe {
            width: 100%;
            height: 100%;
        }
    }

    .hashtag_row {
        width: 100%;
        overflow-x: auto;
        a {
            text-decoration: none;
            color: var(--visit-color);
            font-size: 11px;
        }
    }

    h3 {
        color: var(--white-color)
    }

    .vedio_details {
        @extend %hori-box;
        .get_channel {
            @extend %hori-box;
            gap: 5px;
            .image-channel {
                width: 40px;
                height: 40px;
                a {
                    text-decoration: none;
                    img {
                        max-width: 100%;
                        max-height: 100%;
                        border-radius: 50%;
                    }
                }
            }
            .info-channel {
                font-size: 13px;
                color: var(--white-color);
                #name-channel {
                    text-decoration: none;
                    color: var(--white-color);
                    display: block;
                    margin-bottom: 7px;
                    p { margin-bottom: 0.5rem; }
                }
                #all-subs-channel { opacity: var(--text-opacity);}
            }
            .subs-btn-channel {
                margin-left: 25px;
                button { background-color: var(--white-color);
                color: var(--back-color); }
                &:hover { opacity: 0.85;}
            }
        }
        .takeFor_channel {
            @extend %hori-box;
            gap: 5px;
            .button-channel-main {
                button {
                    &:hover {
                        background-color: var(--white-hover-btn);
                    }
                }
            }
            .likeno-btn-channel {
                position: relative;
                @extend %center-box;
                button {
                    border: none;
                    color: var(--back-color);
                    background-color: var(--white-hover-btn);
                    padding: 10px;
                    transition: var(--transition-hover);
                    @extend %center-box;
                    color: var(--white-color);
                    font: {
                        size: 12px;
                        weight: 200;
                    }
                    &:hover {
                        background-color: var(--so-white-hover);
                    }
                }
                button:first-child {
                    border-radius: 22px 0 0 22px;
                }
                button:not(:first-child) {
                    position: relative;
                    border-radius: 0 22px 22px 0;
                    width: 80px;
                    &::after {
                        content: "";
                        background-color: var(--white-color);
                        position: absolute;
                        height: 24px;
                        width: 1px;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }

        // for all buttons of channel
        .button-channel-main {
            button {
                border: none;
                border-radius: var(--visible-border-radius);
                color: var(--white-color);
                padding: 10px;
                background-color: var(--white-hover-btn);
                transition: var(--transition-hover);
                @extend %center-box;
                font: {
                    size: 12px;
                    weight: 200;
                }
                &:hover {
                    background-color: var(--so-white-hover);
                }
            }
        }
    }

    .description_channel {
        padding: 15px;
        background-color: var(--white-hover-btn);
        width: 100%;
        border-radius: var(--visible-border-radius);
        color: var(--white-color);
        font-size: 13px;
        &:hover {background-color: var(--so-white-hover);}
        &.big:hover {background-color: var(--white-hover-btn);}
    }
}

aside {
    flex: 1;
    padding: 5px;
    overflow: hidden;

    .btn_serv_videos {
        width: 100%;
        overflow: hidden;
        .content-scroll-btns {
            overflow: hidden;
            overflow-x: hidden;
            @extend %hori-box;
            gap: 10px;
            width: max-content;
            touch-action: pan-y;
            button {
                border: none;
                border-radius: 10px;
                color: var(--white-color);
                background-color: var(--white-hover-btn);
                font-size: 12px;
                padding: 5px;
                @extend %center-box;
                transition: var(--transition-hover);
                width: max-content;

                &.active {
                    color: var(--back-color);
                    background-color: var(--white-color);
                }
                &:hover {
                    background-color: var(--so-white-hover);
                }
            }
        }
    }

    .suggested_videos {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        .card_item {
            position: relative;
            text-decoration: none;
            color: var(--white-color);
            @extend %hori-box;
            gap: 3px;
            .video-item {
                width: 100%;
                height: 100%;
                iframe {
                    width: 100%;
                    height: 100%;
                }
            }
            a {
                text-decoration: none;
                .detail-inf {
                    width: 100%;
                    .desc-inf {
                        width: 100%;
                        overflow: hidden;
                        p {
                            color: var(--white-color);
                            font-size: 13px;
                            text-align: justify;
                            display: -webkit-box;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                        }
                    }
                    #name-channel {
                        text-decoration: none;
                        color: var(--white-color);
                        font-size: 11px;
                        opacity: var(--text-opacity);
                    }
                    // #more-inf {font-size: 11px;}
                }
                .get-setting {
                    position: absolute;
                    right: 0;
                    top: 5px;
                    width: 20px;
                    height: 20px;
                    @extend %center-box;
                    button {
                        border: none;
                        background-color: red;
                        color: var(--white-color);
                        border-radius: var(--visible-border-radius);
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}