@import url(https://fonts.googleapis.com/css?family=Roboto);
header {
  background-color: var(--back-color);
  padding: 6px 10px;
  width: 100%;
  height: 56px;
  position: -webkit-sticky;
  position: sticky;
}

header nav {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
}

.cover_Header_Btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  -webkit-transition: var(--transition-hover);
  transition: var(--transition-hover);
  border-radius: 50%;
  width: 35px;
  height: 100%;
  cursor: pointer;
}

.cover_Header_Btns:hover {
  background-color: var(--hover-btn);
}

.user {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
}

.user .sb_User {
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  border-radius: 50%;
  overflow: hidden;
}

.user .sb_User .image {
  width: 100%;
  height: 100%;
}

.user .sb_User .image img {
  max-width: 100%;
  max-height: 100%;
}

.user .noti_User .notification {
  position: relative;
}

.user .noti_User .notification .garp_Above {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px;
  background-color: var(--main-color);
  color: var(--white-color);
  position: absolute;
  top: 0;
  left: -5px;
  width: 20px;
  height: 15px;
  border-radius: var(--visible-border-radius);
  font-size: 0.7rem;
  border: 1px solid var(--back-color);
}

.searcher {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 7px;
}

.searcher .get_Call_User {
  background-color: #1f1f1f;
}

.searcher .search_Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.searcher .search_Container .label_Search {
  background-color: var(--hover-btn);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 100;
  width: 50px;
  padding: 10px;
  border: 1px solid var(--hover-btn);
  border-radius: 12px 0 0 12px;
}

.searcher .search_Container .label_Search:focus {
  border: 1px solid var(--visit-color);
}

.searcher .search_Container .input_content {
  width: 550px;
  position: relative;
}

.searcher .search_Container .input_content .cont-searching {
  height: 100%;
}

.searcher .search_Container .input_content .cont-searching input {
  width: 100%;
  border: none;
  height: 100%;
  padding: 7px 11%;
  border: 1px solid var(--hover-btn);
  border-radius: 0 12px 12px 0;
  background-color: var(--back-color);
  color: var(--white-color);
  outline: none;
}

.searcher .search_Container .input_content .cont-searching input:focus-visible, .searcher .search_Container .input_content .cont-searching input:focus {
  border: 1px solid var(--visit-color);
}

.searcher .search_Container .input_content .cont-searching input::-webkit-input-placeholder {
  font-weight: 400;
}

.searcher .search_Container .input_content .cont-searching input:-ms-input-placeholder {
  font-weight: 400;
}

.searcher .search_Container .input_content .cont-searching input::-ms-input-placeholder {
  font-weight: 400;
}

.searcher .search_Container .input_content .cont-searching input::placeholder {
  font-weight: 400;
}

.searcher .search_Container .input_content .cont-searching input:focus + .contain_search_show {
  display: inline-block;
}

.searcher .search_Container .input_content .cont-searching .contain_search_show {
  display: none;
  position: absolute;
  right: 5px;
  top: 12%;
}

.searcher .search_Container .input_content .contain_Keyboard {
  position: absolute;
  left: 5px;
  top: 12%;
  cursor: pointer;
}

.searcher .search_Container .input_content .contain_Keyboard:hover {
  opacity: 0.7;
}

.MainLogo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 7px;
}

.MainLogo .container_Logo {
  width: 100px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.MainLogo .container_Logo a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.MainLogo .container_Logo a .youtube_Logo svg {
  fill: var(--white-color);
}

.MainLogo .container_Logo a .where_You {
  color: var(--white-color);
  font-weight: 100;
  font-size: 10px;
}

.Side_Slider {
  background-color: var(--back-color);
  width: 0;
  max-height: 100%;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 5000;
}

.Side_Slider nav {
  display: none;
  padding: 10px;
}

.Side_Slider nav .MainLogo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.Side_Slider nav .MainLogo .container_Logo {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.Side_Slider nav .side_content .counter_Content h4 {
  color: var(--white-color);
  margin-top: 10px;
}

.Side_Slider nav .side_content .counter_Content hr {
  color: var(--hover-btn);
  height: 1px;
}

.Side_Slider nav .side_content .counter_Content .item {
  width: 100%;
  height: 35px;
  -webkit-transition: var(--transition-hover);
  transition: var(--transition-hover);
  padding: 0 12px 0 0;
  border-radius: 12px;
  margin: 10px 0;
}

.Side_Slider nav .side_content .counter_Content .item:hover {
  background-color: var(--hover-btn);
}

.Side_Slider nav .side_content .counter_Content .item a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 5px;
}

.Side_Slider nav .side_content .counter_Content .item a span {
  padding-right: 10px;
}

.Side_Slider nav .side_content .counter_Content .item a .text_para {
  display: inline-block;
}

.Side_Slider nav .side_content .counter_Content .item a .text_para p {
  display: inline-block;
  color: var(--white-color);
  font-size: 13px;
  margin-bottom: -6px;
  white-space: nowrap;
  overflow: hidden;
  width: 168px;
  position: relative;
}

.Side_Slider nav .side_content .counter_Content .item a .text_para p::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 35px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(var(--back-color)));
  background: linear-gradient(to right, transparent, var(--back-color));
}

.Side_Slider nav .side_content .counter_Content .item a svg {
  padding-right: 10px;
  height: 100%;
}

.Side_Slider nav .side_content .counter_Content .item a .image-channel {
  width: 30px;
  height: 30px;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Side_Slider nav .side_content .counter_Content .item a .image-channel img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

.Side_Slider nav .side_content .counter_Content .item:hover a .text_para p::before {
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(var(--hover-btn)));
  background: linear-gradient(to right, transparent, var(--hover-btn));
}

.Side_Slider nav .side_content .counter_Content .privacy_policy a {
  text-decoration: none;
  color: var(--white-color);
  font-size: 13px;
  opacity: 0.75;
}

.Side_Slider nav .side_content .counter_Content .privacy_policy a p {
  margin: 10px 0;
}

.Side_Slider nav .side_content .counter_Content .privacy_policy span {
  color: var(--hover-btn);
}

.Side_Slider::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: transparent;
}

.Side_Slider::-webkit-scrollbar-thumb {
  background-color: #747474;
  border-radius: 10px;
}

.Side_Slider.active {
  width: 250px;
}

.Side_Slider.active nav {
  display: block;
}

.Side_Slider.active ~ #app > .cover_dark_mark {
  display: block;
}

.cover_dark_mark {
  z-index: 4000;
  background-color: #0f0f0f8f;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  padding: 25px;
  background-color: var(--back-color);
}

.main_show {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.main_show .big_show {
  width: 100%;
  height: 455px;
}

.main_show .big_show iframe {
  width: 100%;
  height: 100%;
}

.main_show .hashtag_row {
  width: 100%;
  overflow-x: auto;
}

.main_show .hashtag_row a {
  text-decoration: none;
  color: var(--visit-color);
  font-size: 11px;
}

.main_show h3 {
  color: var(--white-color);
}

.main_show .vedio_details .get_channel {
  gap: 5px;
}

.main_show .vedio_details .get_channel .image-channel {
  width: 40px;
  height: 40px;
}

.main_show .vedio_details .get_channel .image-channel a {
  text-decoration: none;
}

.main_show .vedio_details .get_channel .image-channel a img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

.main_show .vedio_details .get_channel .info-channel {
  font-size: 13px;
  color: var(--white-color);
}

.main_show .vedio_details .get_channel .info-channel #name-channel {
  text-decoration: none;
  color: var(--white-color);
  display: block;
  margin-bottom: 7px;
}

.main_show .vedio_details .get_channel .info-channel #name-channel p {
  margin-bottom: 0.5rem;
}

.main_show .vedio_details .get_channel .info-channel #all-subs-channel {
  opacity: var(--text-opacity);
}

.main_show .vedio_details .get_channel .subs-btn-channel {
  margin-left: 25px;
}

.main_show .vedio_details .get_channel .subs-btn-channel button {
  background-color: var(--white-color);
  color: var(--back-color);
}

.main_show .vedio_details .get_channel .subs-btn-channel:hover {
  opacity: 0.85;
}

.main_show .vedio_details .takeFor_channel {
  gap: 5px;
}

.main_show .vedio_details .takeFor_channel .button-channel-main button:hover {
  background-color: var(--so-white-hover);
}

.main_show .vedio_details .takeFor_channel .likeno-btn-channel {
  position: relative;
}

.main_show .vedio_details .takeFor_channel .likeno-btn-channel button {
  border: none;
  color: var(--back-color);
  background-color: var(--white-hover-btn);
  padding: 10px;
  -webkit-transition: var(--transition-hover);
  transition: var(--transition-hover);
  color: var(--white-color);
  font-size: 12px;
  font-weight: 200;
}

.main_show .vedio_details .takeFor_channel .likeno-btn-channel button:hover {
  background-color: var(--so-white-hover);
}

.main_show .vedio_details .takeFor_channel .likeno-btn-channel #unliked-btn {
  border-radius: 22px 0 0 22px;
}

.main_show .vedio_details .takeFor_channel .likeno-btn-channel #liked-btn {
  position: relative;
  border-radius: 0 22px 22px 0;
  width: 80px;
}

.main_show .vedio_details .takeFor_channel .likeno-btn-channel #liked-btn::after {
  content: "";
  background-color: var(--white-color);
  position: absolute;
  height: 24px;
  width: 1px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main_show .vedio_details .takeFor_channel .likeno-btn-channel #liked-btn span.material-icons {
  position: relative;
  -webkit-animation: floatingLike 2s ease-in-out;
          animation: floatingLike 2s ease-in-out;
}

@-webkit-keyframes floatingLike {
  0% {
    color: var(--white-color);
  }
  10% {
    color: #00fff2;
  }
  20% {
    color: #00ffaa;
    -webkit-transform: translate(-15px, -15px) rotate(-25deg);
            transform: translate(-15px, -15px) rotate(-25deg);
  }
  30% {
    color: #d9ff00;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  40% {
    color: #ff0080;
    -webkit-transform: translate(-4px, 4px) rotate(7deg);
            transform: translate(-4px, 4px) rotate(7deg);
  }
  50% {
    color: #e100ff;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  60% {
    color: #6200ff;
    -webkit-transform: translate(-2px, 2px) rotate(4deg);
            transform: translate(-2px, 2px) rotate(4deg);
  }
  70% {
    color: #0026ff;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  80% {
    color: #00a2ff;
  }
  90% {
    color: #00fff2;
  }
  100% {
    color: var(--white-color);
  }
}

@keyframes floatingLike {
  0% {
    color: var(--white-color);
  }
  10% {
    color: #00fff2;
  }
  20% {
    color: #00ffaa;
    -webkit-transform: translate(-15px, -15px) rotate(-25deg);
            transform: translate(-15px, -15px) rotate(-25deg);
  }
  30% {
    color: #d9ff00;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  40% {
    color: #ff0080;
    -webkit-transform: translate(-4px, 4px) rotate(7deg);
            transform: translate(-4px, 4px) rotate(7deg);
  }
  50% {
    color: #e100ff;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  60% {
    color: #6200ff;
    -webkit-transform: translate(-2px, 2px) rotate(4deg);
            transform: translate(-2px, 2px) rotate(4deg);
  }
  70% {
    color: #0026ff;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  80% {
    color: #00a2ff;
  }
  90% {
    color: #00fff2;
  }
  100% {
    color: var(--white-color);
  }
}

.main_show .vedio_details .button-channel-main button {
  border: none;
  border-radius: var(--visible-border-radius);
  color: var(--white-color);
  padding: 10px;
  background-color: var(--white-hover-btn);
  -webkit-transition: var(--transition-hover);
  transition: var(--transition-hover);
  font-size: 12px;
  font-weight: 200;
}

.main_show .vedio_details .button-channel-main button:hover {
  background-color: var(--so-white-hover);
}

.main_show .description_channel {
  cursor: pointer;
  padding: 15px;
  background-color: var(--white-hover-btn);
  width: 100%;
  border-radius: var(--visible-border-radius);
  color: var(--white-color);
  font-size: 13px;
}

.main_show .description_channel:hover {
  background-color: var(--so-white-hover);
}

.main_show .description_channel:hover #desc-para::before {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(var(--so-white-hover)));
  background: linear-gradient(to bottom, transparent, var(--so-white-hover));
}

.main_show .description_channel.big:hover {
  background-color: var(--white-hover-btn);
}

.main_show .description_channel #desc-para {
  position: relative;
  font-size: 13px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.main_show .description_channel #desc-para::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2em;
  bottom: 0;
  pointer-events: none;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(var(--white-hover-btn)));
  background: linear-gradient(to bottom, transparent, var(--white-hover-btn));
}

.main_show .description_channel #desc-para.did {
  -webkit-line-clamp: unset;
  -webkit-box-orient: unset;
}

.main_show .description_channel #desc-para.did::before {
  display: none;
}

.main_show .description_channel #moreless-desc {
  border: none;
  background-color: transparent;
  color: var(--white-color);
  font-size: 13px;
}

.main_show .comments_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  color: var(--white-color);
}

.main_show .comments_details #num-comment {
  color: var(--white-color);
  margin: 0;
}

.main_show .comments_details .sorting_btn {
  position: relative;
}

.main_show .comments_details .sorting_btn #sorting {
  border: none;
  color: var(--white-color);
  background-color: transparent;
  font-size: 13px;
  font-weight: 200;
}

.main_show .comments_details .sorting_btn #sorting.active + ul {
  display: block;
}

.main_show .comments_details .sorting_btn ul {
  display: none;
  position: absolute;
  border-radius: 8px;
  left: 0;
  bottom: -75px;
  background-color: var(--transp-back-color);
  margin: 0;
  padding: 0;
  width: 200%;
}

.main_show .comments_details .sorting_btn ul li {
  list-style: none;
  padding: 8px;
}

.main_show .comments_details .sorting_btn ul li.active {
  background-color: var(--white-hover-btn);
}

.main_show .comments_details .sorting_btn ul li:hover {
  background-color: var(--so-white-hover);
}

.main_show .comments_details .sorting_btn ul li span {
  color: var(--white-color);
  font-size: 14px;
  font-weight: 200;
}

.main_show .comments_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2em;
}

.main_show .comments_area .done_comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 5px;
  color: var(--white-color);
  position: relative;
  width: 100%;
}

.main_show .comments_area .done_comment:hover .report_comment {
  visibility: visible;
}

.main_show .comments_area .done_comment .image-channel {
  width: 40px;
  height: 40px;
}

.main_show .comments_area .done_comment .image-channel a {
  text-decoration: none;
}

.main_show .comments_area .done_comment .image-channel a img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

.main_show .comments_area .done_comment .info-comment {
  color: var(--white-color);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main_show .comments_area .done_comment .info-comment .nameAgo {
  margin: 0;
  color: var(--white-color);
  font-size: 13px;
  font-weight: 400;
}

.main_show .comments_area .done_comment .info-comment .nameAgo #ago {
  margin: 0 10px;
  opacity: var(--text-opacity);
  color: var(--white-color);
  font-size: 12px;
  font-weight: 200;
}

.main_show .comments_area .done_comment .info-comment #describe {
  font-size: 13px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 200;
  margin: 0;
}

.main_show .comments_area .done_comment .info-comment .res_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_show .comments_area .done_comment .info-comment .res_content button {
  border: none;
  background-color: transparent;
  border-radius: var(--visible-border-radius);
  width: 30px;
  height: 30px;
  -webkit-transition: 0.35s;
  transition: 0.35s;
  padding: 5px;
}

.main_show .comments_area .done_comment .info-comment .res_content button:hover {
  background-color: var(--hover-btn);
}

.main_show .comments_area .done_comment .info-comment .res_content #liked-num {
  margin-right: 15px;
  margin-left: 5px;
  font-size: 12px;
  font-weight: 200;
  opacity: var(--text-opacity);
}

.main_show .comments_area .done_comment .report_comment {
  visibility: hidden;
  position: relative;
}

.main_show .comments_area .done_comment .report_comment .report-btn {
  border: none;
  background-color: transparent;
  border-radius: var(--visible-border-radius);
  width: 30px;
  height: 30px;
  -webkit-transition: 0.35s;
  transition: 0.35s;
  padding: 5px;
}

.main_show .comments_area .done_comment .report_comment .report-btn:hover {
  background-color: var(--hover-btn);
}

.main_show .comments_area .done_comment .report_comment.active ul {
  display: block;
}

.main_show .comments_area .done_comment .report_comment.active {
  visibility: visible;
}

.main_show .comments_area .done_comment .report_comment ul {
  display: none;
  position: absolute;
  border-radius: 8px;
  left: 0;
  bottom: -75px;
  background-color: var(--transp-back-color);
  margin: 0;
  padding: 10px 0;
  width: 300%;
}

.main_show .comments_area .done_comment .report_comment ul li {
  list-style: none;
  padding: 5px;
  -webkit-transition: 0.35s;
  transition: 0.35s;
  color: var(--white-color);
}

.main_show .comments_area .done_comment .report_comment ul li.active {
  background-color: var(--white-hover-btn);
}

.main_show .comments_area .done_comment .report_comment ul li:hover {
  background-color: var(--so-white-hover);
}

.main_show .comments_area .done_comment .report_comment ul li a {
  color: var(--white-color);
  text-decoration: none;
}

aside {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 5px;
  overflow: hidden;
}

aside .btn_serv_videos {
  width: 100%;
  overflow: hidden;
}

aside .btn_serv_videos .content-scroll-btns {
  overflow: hidden;
  overflow-x: hidden;
  gap: 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

aside .btn_serv_videos .content-scroll-btns button {
  border: none;
  border-radius: 10px;
  color: var(--white-color);
  background-color: var(--white-hover-btn);
  font-size: 12px;
  padding: 5px;
  -webkit-transition: var(--transition-hover);
  transition: var(--transition-hover);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

aside .btn_serv_videos .content-scroll-btns button.active {
  color: var(--back-color);
  background-color: var(--white-color);
}

aside .btn_serv_videos .content-scroll-btns button:hover {
  background-color: var(--so-white-hover);
}

aside .suggested_videos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 5px;
}

aside .suggested_videos .card_item {
  position: relative;
  text-decoration: none;
  color: var(--white-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 3px;
  height: 100px;
}

aside .suggested_videos .card_item .video-item {
  width: 100%;
  height: 100%;
}

aside .suggested_videos .card_item .video-item iframe {
  width: 100%;
  height: 100%;
}

aside .suggested_videos .card_item .detail-inf {
  width: 100%;
}

aside .suggested_videos .card_item .detail-inf .desc-inf {
  width: 100%;
  overflow: hidden;
}

aside .suggested_videos .card_item .detail-inf .desc-inf p {
  color: var(--white-color);
  font-size: 13px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 4px;
}

aside .suggested_videos .card_item .detail-inf #name-channel {
  text-decoration: none;
  color: var(--white-color);
  font-size: 11px;
  opacity: var(--text-opacity);
  background-color: transparent;
  border: none;
}

aside .suggested_videos .card_item .detail-inf .more-inf {
  text-decoration: none;
  color: var(--white-color);
  opacity: var(--text-opacity);
  margin-bottom: 0;
  font-size: 11px;
  font-weight: 100;
}

aside .suggested_videos .card_item .get-setting {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  visibility: hidden;
}

aside .suggested_videos .card_item .get-setting .sug_setting_btn {
  border: none;
  background-color: transparent;
  border-radius: var(--visible-border-radius);
  width: 30px;
  height: 30px;
  -webkit-transition: 0.35s;
  transition: 0.35s;
  padding: 5px;
}

aside .suggested_videos .card_item .get-setting .sug_setting_btn:hover {
  background-color: var(--hover-btn);
}

aside .suggested_videos .card_item .get-setting.active ul {
  display: block;
}

aside .suggested_videos .card_item .get-setting.active {
  visibility: visible;
}

aside .suggested_videos .card_item .get-setting ul {
  display: none;
  position: absolute;
  border-radius: 8px;
  left: 0;
  bottom: -75px;
  background-color: var(--transp-back-color);
  margin: 0;
  padding: 10px 0;
  width: 300%;
}

aside .suggested_videos .card_item .get-setting ul li {
  list-style: none;
  padding: 5px;
  -webkit-transition: 0.35s;
  transition: 0.35s;
  color: var(--white-color);
}

aside .suggested_videos .card_item .get-setting ul li.active {
  background-color: var(--white-hover-btn);
}

aside .suggested_videos .card_item .get-setting ul li:hover {
  background-color: var(--so-white-hover);
}

aside .suggested_videos .card_item .get-setting ul li button {
  border: none;
  background-color: transparent;
  color: var(--white-color);
}

aside .suggested_videos .card_item:hover .get-setting {
  visibility: visible;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
  direction: "rtl";
}

:root {
  --back-color: #0f0f0f;
  --transp-back-color: #1a1a1abe;
  --white-color: #fff;
  --main-color: #c00;
  --visit-color: #3ea6ff;
  --hover-btn: #2e2d2d;
  --white-hover-btn: #636363;
  --so-white-hover: #7c7c7c;
  --transition-hover: 0.2s;
  --text-opacity: 0.75;
  --visible-border-radius: 22px;
}

.material-symbols-outlined, .material-icons {
  color: var(--white-color);
  font-weight: 100;
  fill: var(--white-color);
  height: 20px;
  width: 30px;
  stroke-width: 1px;
  stroke: var(--white-color);
}

body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #747474;
  border-radius: 10px;
}

.main_show .vedio_details, .main_show .vedio_details .get_channel, .main_show .vedio_details .takeFor_channel, aside .btn_serv_videos .content-scroll-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_show .vedio_details .takeFor_channel .likeno-btn-channel, .main_show .vedio_details .takeFor_channel .likeno-btn-channel button, .main_show .vedio_details .button-channel-main button, .main_show .comments_details .sorting_btn #sorting, .main_show .comments_details .sorting_btn ul li, .main_show .comments_area .done_comment .info-comment .res_content button, .main_show .comments_area .done_comment .report_comment .report-btn, .main_show .comments_area .done_comment .report_comment ul li, .main_show .comments_area .done_comment .report_comment ul li a, aside .btn_serv_videos .content-scroll-btns button, aside .suggested_videos .card_item .get-setting .sug_setting_btn, aside .suggested_videos .card_item .get-setting ul li, aside .suggested_videos .card_item .get-setting ul li button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=call_main.css.map */